{% extends 'layout.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="/stylesheets/alerts.css">
{% endblock %}
{% block body %}
    <h1>Alertes Météorologiques</h1>
    <form action="/HomePage" method="get">
        <button class="back-btn" type="submit">Page d'accueil</button>
    </form>
    <div class="controls">
        <label for="severityFilter">Filtrer par Sévérité :</label>
        <select id="severityFilter">
            <option value="all">Tous</option>
            <option value="moderate">Modérée</option>
            <option value="severe">Sévère</option>
            <option value="extreme">Extrême</option>
        </select>
    </div>
    <div class="alert-container">
        {% if alerts and alerts.features %}
            {% for feature in alerts.features %}
                {% set event = feature.properties.event|lower %}
                {% set iconMap = {
                    'avalanches': 'avalanches', 'blowingsnow': 'neige',
                    'drivingconditions': 'conditionsderoute', 'flood': 'inondation',
                    'forestfire': 'feudeforet', 'gale': 'ventfort', 'ice': 'glace',
                    'icing': 'givrage', 'landslide': 'glissementdeterre', 'polarlow': 'depolarlow',
                    'rain': 'pluie', 'rainflood': 'inondationdepluie', 'snow': 'neige',
                    'stormsurge': 'ondeetempete', 'lightning': 'foudre', 'wind': 'vent',
                    'unknown': 'inconnu'
                } %}
                {% set iconName = 'icon-warning-' ~ (iconMap[event] ?: 'inconnu') %}
                {% set severity = feature.properties.severity|lower %}
                {% set color = 'orange' %}
                {% if severity == 'severe' or severity == 'extreme' %}
                    {% set color = 'red' %}
                {% endif %}
                {% set iconPath = '/images/alertsIcons/' ~ iconName ~ '-' ~ color ~ '.png' %}
                {% set defaultIconPath = '/images/alertsIcons/icon-warning-generic-' ~ color ~ '.png' %}
                <div class="alert-card" data-severity="{{ severity }}">
                    <img src="{{ iconPath }}" onerror="this.src='{{ defaultIconPath }}';" alt="Icône d'avertissement - {{ feature.properties.event }}" class="weather-icon">
                    <div class="alert-info">
                        <h2>{{ feature.properties.title }}</h2>
                        <p><strong>Description :</strong> {{ feature.properties.description }}</p>
                        <p><strong>Sévérité :</strong> {{ feature.properties.severity | capitalize }}</p>
                        <p><strong>Période Effective :</strong> {{ feature.when.interval[0] }} à {{ feature.when.interval[1] }}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Aucune alerte météorologique disponible.</p>
        {% endif %}
    </div>
    <script src="/javascripts/alerts.js"></script>
{% endblock %}
