{% extends 'layout.twig' %}

{% block body %}
    <link rel="stylesheet" href="/stylesheets/villeliste.css">
    <h1>Liste des villes</h1>
    <input type="text" id="searchInput" placeholder="Rechercher une ville">
    <ul id="villesList">
        {% for ville in villes %}
            <li>
                {{ ville.nom }} ({{ ville.latitude }}, {{ ville.longitude }})
                <button class="voir-meteo-btn" data-lat="{{ ville.latitude }}" data-lon="{{ ville.longitude }}">Voir Météo</button>
            </li>
        {% endfor %}
    </ul>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/javascripts/meteoService.js"></script>
{% endblock %}

